html
  head
    title Create new tournament
  body
    h1 Create new tournament
    form(method="post")
      label(for="title") Title
      input(name="title")
      br
      label(for="description") Description
      textarea(name="description")
      br
      label(for="region") Region
      select(name="region")
        each region in regions
          option(value=region)= region
      br
      label(for="start") Start time
      input(type="datetime-local" name="start" value=defaultStart)
      br
      label(for="start") End time
      input(type="datetime-local" name="end" value=defaultEnd)
      br
      label(for="summoners") Summoner names (one per line)
      textarea(name="summoners" rows="15")
      input(type="submit")
